body{
	font:600 16px/18px 'Open Sans',sans-serif;
}
.opening{
	background: url(../image/cover.jpg) no-repeat fixed center;
	background-size:100% 100%;
	 transition: all 2s ease-in-out;
	  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100%;
}
.opening_text{
	color: white;
	font-style: bold;
	font-size: 200%;
	font-family: "Times New Roman", Times, serif;
	margin-left: 55%;
	
}
#intro{
	background: url(../image/front3.jpg) no-repeat fixed center;
	background-size: 100% 100%;
	 transition: all 2s ease-in-out;
	  position:	fixed;
  right: 0; 
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100%;
  z-index:-1;

}
.opening:hover{
	transform: translate(0,-110%);
	opacity:0;
}
.btn {

  border-radius: 10px;
  padding: 15px 25px;
  font-size: 150%;
  text-decoration: none;
  bottom:8vh;
  color: #fff;
  display: inline-block;
  position:absolute;
  left:42%;
  z-index: 2;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}


.orange {
  background-color: rgba(40,57,101,1);
}

.orange:hover {
  background-color: #101524;
  color:#ffffff;
}
.link{
  position: absolute;
  top:15vh;
  left:30vw;
  font-size: 150%;
  color: #fff;
}


@media only screen and (max-width: 1100px) {
.opening{
	background: url(../image/cover.jpg) no-repeat fixed center;
	background-size:100% 100%;
	 transition: all 2s ease-in-out;
	  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100%;
}
.opening_text{

	color: white;
	font-style: bold;
	font-size: 200%;
	
	margin-left: 55%;
	
}
#intro{
	background: url(../image/front3.jpg) no-repeat fixed center;
	background-size: 100% 100%;
	 transition: all 2s ease-in-out;
	  position:	fixed;
  right: 0; 
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100%;
  z-index:-1;

}
.opening:hover{
	transform: translate(0,-110%);
	opacity:0;
}
.btn {
  border-radius: 10px;
  padding: 2% 2%;
  font-size: 4vh;
  text-decoration: none;
  bottom:8vh;
  color: #fff;
  display: inline-block;
  position:absolute;
  left:40vw;
  z-index: -1;
}

.btn:active {
  transform: translate(0%, 5px);
  -webkit-transform: translate(0%, 5%);
  box-shadow: 0px 1% 0px 0px;
}


.orange {
  background-color: rgba(40,57,101,1);
}

.orange:hover {
  background-color: #101524;
  color:#ffffff;
}
.link{
  font-size: 100%;
  left:25vw;
  top:15vh;
}
}
