<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Choice</title>
<link rel="stylesheet" href="../static/css/choice-bootstrap.min.css">
<link rel="stylesheet" href="../static/css/choice-main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<section class="banner" role="banner">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>Make Selection:</h1>
        <p>You have to buy ______ for the construction to continue. At the end of this round, you have amassed x Gold Dragons. Use them to select ____ from the choices below:</p> 
    </div>
  </div>
</section>
<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../image/work-1.jpg" class="work-box"> <img src="../static/image/work-1.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 1</h5>
            <p>Name</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../image/work-2.jpg" class="work-box"> <img src="../static/image/work-2.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 2</h5>
            <p>Name</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../image/work-3.jpg" class="work-box"> <img src="../static/image/work-3.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 3</h5>
            <p>Name</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../image/work-4.jpg" class="work-box"> <img src="../static/image/work-4.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 4</h5>
            <p>Name</p>
          </div>
        </div>
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../image/work-5.jpg" class="work-box"> <img src="../static/image/work-5.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 5</h5>
            <p>Name</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../image/work-6.jpg" class="work-box"> <img src="../static/image/work-6.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 6</h5>
            <p>Name</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../image/work-7.jpg" class="work-box"> <img src="../static/image/work-7.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 7</h5>
            <p>Name</p>
          </div>
        </div>
        <!-- overlay --> 
        </a> </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="../images/work-8.jpg" class="work-box"> <img src="../static/image/work-8.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Option 8</h5>
            <p>Name</p>
          </div>
        </div>
        </a> </div>
    </div>
  </div>
</section>
</body>
</html>