<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Developed By</title>
<link rel="stylesheet" href="../static/css/choice-bootstrap.min.css">
<link rel="stylesheet" href="../static/css/developers.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<section class="banner" role="banner">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>Developers:</h1>
        <p></p>
<table style="width:100%" align="left">
  <tr>
    <td><b>Front End</td>
    <td><b>Back End</td> 
  </tr>
  <tr>
    <td>Ishan Vaidya, CSE</td>
    <td>Rahul Agarwal, IT</td> 
  </tr>
  <tr>
    <td>Dheemahi Turaga, CSE</td>
    <td>Bhawesh Bhansali, IT</td> 
  </tr>
  
</table> 
    </div>
  </div>
</section>

</body>
</html>