<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="../static/css/home.css">

  <title>Constructure</title>
  
  
</head>

<body>
	<div class="opening">
		<p><a href="#0" class="mob">Tap to Explore</a> <p>
	</div>
	<div id="intro">
		<p><a href="https://goo.gl/forms/tgIy2H40keO4EmUD3" class="link">Click Here To Know More About These Events</a> <p>
	</div>
<div class="next">
  			<a href="login.html" class="btn orange">
  				Begin Your Watch
  			</a>
		</div>
	
</body>
</html>