<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Fullscreen Pageflip Layout with BookBlock</title>
		<meta name="description" content="Fullscreen Pageflip Layout with BookBlock" />
		<meta name="keywords" content="fullscreen pageflip, booklet, layout, bookblock, jquery plugin, flipboard layout, sidebar menu" />
		<meta name="author" content="Codrops" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>

		<link rel="shortcut icon" href="../favicon.ico"> 
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../static/css/rules-resetnav.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="../static/css/rules-stylenav.css"> <!-- Resource style -->
		<script src="../static/js/rules-modernizrnav.js"></script> <!-- For Nav-->
		<link rel="stylesheet" href="../static/css/rules-style.css">
		<link rel="stylesheet" type="text/css" href="../static/css/rules-jquery.jscrollpane.custom.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/rules-bookblock.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/rules-custom.css" />
		<script src="../static/js/rules-modernizr.custom.79639.js"></script>
	</head>
	<body>
			<header>
	<nav class="cd-stretchy-nav">
		<a class="cd-nav-trigger" href="#0">
			
			<span aria-hidden="true"></span>
		</a>

		<ul>
			<li><a href="dashboard.html" ><span>Home</span></a></li>
			<li><a href="Rules.html" class="active"><span>Rules</span></a></li>
			<li><a href="login.html"><span>Logout</span></a></li>
			
		</ul>

		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
</header>
		<div id="buttons">
  			<a href="dashboard.html" class="btn orange">Proceed</a>
		</div>
		<div id="container" class="container">	
			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
					<div class="bb-item" id="item1">
						<div class="content">
							<div class="scroller">
								<h2>Rules & Regulations</h2>
								<p>The Hon. Francis Gillette, in a speech in Hartford, Conn., in 1871, said
								that there was "in Connecticut, on an average, one liquor shop to every
								forty voters, and three to every Christian church. In this city, as stated
								in the _Hartford Times_, recently, we have five hundred liquor shops, and
								one million eight hundred and twenty-five thousand dollars were, last
								year, paid for intoxicating drinks. A cry, an appeal, came to me from the
								city, a few days since, after this wise: 'Our young men are going to
								destruction, and we want your influence, counsel, and prayers, to help
								save them.'"</p>

								<p>Is New London, report says, the young men are falling into drinking habits
								as never before. So in New Haven, Bridgeport, and the other cities and
								large places of the state.</p>

								<p>"The pulse of a person in health beats about seventy strokes a minute, and
								the ordinary term of life is about seventy years. In these seventy years,
								the pulse of a temperate person beats two billion five hundred and
								seventy-four million four hundred and forty thousand times. If no actual
								disorganization should happen, a drunken person might live until his pulse
								beat this number of times; but by the constant stimulus of ardent spirits,
								or by pulse-quickening food, or tobacco, the pulse becomes greatly
								accelerated, and the two billion five hundred and seventy-four million
								four hundred and forty thousand pulsations are performed in little more
								than half the ordinary term of human life, and life goes out in forty or
								forty-five years, instead of seventy. This application of numbers is given
								to show that the acceleration of those forces diminishes the term of human
								life."</p>

								<p>"In New York, Mr. Greeley states that 'a much larger proportion of adult
								males in the state drink now than did in 1840-44.' After speaking of the
								adverse demonstrations all over the country, he adds, 'I cannot recall a
								single decisive, cheering success, to offset these many reverses.'</p>

								<p>"Massachusetts is moving to build an asylum for her twenty-five thousand
								drunkards. Lager beer brewers at Boston Highlands have three millions of
								dollars invested in the business, manufactured four hundred and
								ninety-five thousand barrels last year, and paid a tax of half a million
								to the general government. The city of Chicago, last year, received into
								her treasury one hundred and ten thousand dollars for the sale of
								indulgences to sell intoxicating drinks.</p>

								<p>"The same rate of fearful expenditure for intoxicating drinks extends
								across the ocean. In a speech before the Trades' Union Congress, last
								October, at Birmingham, 'on the disorganization of labor,' Mr. Potter
								shows drunkenness to be the great disorganizer of the labor of Great
								Britain, at a yearly cost of two hundred and twenty-eight million pounds,
								equal to one billion one hundred and forty million dollars; enough," he
								adds, "to pay the public debt of Great Britain in less than five years,
								and greatly diminish taxation forever."</p>
							</div>
						</div>
					</div>
					<div class="bb-item" id="item2">
						<div class="content">
							<div class="scroller">
								<h2>Rules & Regulations</h2>
								<p>But few of the human race die of old age. Besides the thousand and one
								diseases flesh is heir to, and the disease which Mrs. O'Flannagan said her
								husband died of, viz., "Of a Saturday 'tis that poor Mike died," very many
								die of disappointment. More _fret_ out. Mr. Beecher said, "It is the
								fretting that wears out the machinery; friction, not the real wear."</p>

								<p>"Choked with passion" is no chimera; for passion often kills the
								unfortunate possessor of an irritable temper, sometimes suddenly. Care and
								over-anxiety sweep away thousands annually.</p>

								<p>Let us see how long a man should live. The horse lives twenty-five years;
								the ox fifteen or twenty; the lion about twenty; the dog ten or twelve;
								the rabbit eight; the guinea-pig six or seven years. These numbers all
								bear a similar proportion to the time the animal takes to grow to its full
								size. But man, of all animals, is the one that seldom comes up to his
								average. He ought to live a hundred years, according to this physiological
								law, for five times twenty are one hundred; but instead of that, he
								scarcely reaches, on the average, four times his growing period; the cat
								six times; and the rabbit even eight times the standard of measurement.
								The reason is obvious. Man is not only the most irregular and the most
								intemperate, but the most laborious and hard-worked of all animals. He is
								also the most irritable of all animals; and there is reason to believe,
								though we cannot tell what an animal secretly feels, that, more than any
								other animal, man cherishes wrath to keep it warm, and consumes himself
								with the fire of his secret reflections.</p>

								<p>"Age dims the lustre of the eye, and pales the roses on beauty's cheek;
								while crows' feet, and furrows, and wrinkles, and lost teeth, and gray
								hairs, and bald head, and tottering limbs, and limping, most sadly mar the
								human form divine. But dim as the eye is, pallid and sunken as may be the
								face of beauty, and frail and feeble that once strong, erect, and manly
								body, the immortal soul, just fledging its wings for its home in heaven,
								may look out through those faded windows as beautiful as the dewdrop of
								summer's morning, as melting as the tears that glisten in affection's eye,
								by growing kindly, by cultivating sympathy with all human kind, by
								cherishing forbearance towards the follies and foibles of our race, and
								feeding, day by day, on that love to God and man which lifts us from the
								brute, and makes us akin to angels."</p>
							</div>
						</div>
					</div>
					<div class="bb-item" id="item3">
						<div class="content">
							<div class="scroller">
								<h2>Rules & Regulations</h2>
								<p>The origin of the honeymoon is not generally known.</p>

								<p>The Saxons long and long ago got up the delightful occasion. Amongst the
								ancient Saxons and Teutons a beverage was made of honey and water, and
								sometimes flavored with mulberries. This drink was used especially at
								weddings and the after festivals. These festivals were kept up among the
								nobility sometimes for a month--"monath." The "hunig monath" was thus
								established, and the next moon after the marriage was called the
								honeymoon.</p>

								<p>Alaric, about the fifth century king of the Saxons and Western Goths, is
								said to have actually died on his wedding night from drinking too freely
								of the honeyed beverage,--at least he died before morning,--and it
								certainly would seem to be a charitable inference to draw, since he
								partook very deeply of the "festive drink." It was certainly a sweet
								oblivion, "yet it should be a warning to posterity, as showing that even
								bridegrooms may make too merry."</p>

								<p>Dr. Blanchet recently read a paper before the Academy of Science, Paris,
								relative to some cases of "long sleep," or lethargic slumber. One of them
								related to a lady twenty years of age, who took a sleeping fit during her
								_honeymoon_, which lasted fifty days.</p>

								<p>"During this long period a false front tooth had to be taken out in order
								to introduce milk and broth into her mouth. This was her only food; she
								remained motionless, insensible, and all her muscles were in a state of
								contraction. Her pulse was low, her breathing scarcely perceptible; there
								was no evacuation, no leanness; her complexion was florid and healthy.
								The other cases were exactly similar. Dr. Blanchet is of opinion that in
								such cases no stimulants or forced motion ought to be employed.</p>

								<p>"The report did not say whether the husband was pleased or not with her
								long silence."</p>

								<p>There is too much talk in the world about woman's "_jaw_." As for me, give
								me the woman who can _talk_; the faster and more sense the better.</p>
							</div>
						</div>
					</div>
				</div>
				<nav>
					<span id="bb-nav-prev">&larr;</span>
					<span id="bb-nav-next">&rarr;</span>
				</nav>
			</div>
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="../static/js/rules-jquery.mousewheel.js"></script>
		<script src="../static/js/rules-jquery.jscrollpane.min.js"></script>
		<script src="../static/js/rules-jquerypp.custom.js"></script>
		<script src="../static/js/rules-jquery.bookblock.js"></script>
		<script src="../static/js/rules-page.js"></script>
		<script>
			$(function() {

				Page.init();

			});
		</script>
		<script src="../static/js/rules-jquery-2.1.4.js"></script>
		<script src="../static/js/rules-mainnav.js"></script>
	</body>
</html>

