<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scenario</title>
<link rel="stylesheet" href="../static/css/dash-resetnav.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="../static/css/dash-stylenav.css"> <!-- Resource style -->
  <script src="../static/js/dash-modernizrnav.js"></script> <!-- For Nav-->
<link rel="stylesheet" href="../static/css/choice-bootstrap.min.css">
<link rel="stylesheet" href="../static/css/choice-R3-2.css">
<link rel="stylesheet" href="../static/css/checkbox-button.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body onload="available_options({{options}})">
  <script type="text/javascript">
  function available_options(op)
  {
    op2 = parseInt(op);
    switch(op2)
    {
      case 0:
        document.getElementById('check4').disabled = true;
      case 1:
        document.getElementById('check3').disabled = true;
      case 2:
        document.getElementById('check2').disabled = true;
      case 3:
        document.getElementById('check1').disabled = true;
      default:
        return;
    }

  }
</script>
   <header>
  <nav class="cd-stretchy-nav">
    <a class="cd-nav-trigger" href="#0">
      <span aria-hidden="true"></span>
    </a>

    <ul>
      <li><a href="dashboard.html" class="active"><span>Home</span></a></li>
      <li><a href="Rules.html"><span>Rules</span></a></li>
      <li><a href="login.html"><span>Logout</span></a></li>
      
    </ul>

    <span aria-hidden="true" class="stretchy-nav-bg"></span>
  </nav>
</header>
<section class="banner" role="banner">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>ATTENTION!</h1>
        <p>Soil testing has revealed that the soil strength is below the required threshold to safely construct the castle. What do you suppose we do now?
        </br>
        </br>
        Option 1: Remove the poor soil first and then fill the gap with superior material such as sand, stone or gravel. In order to do this, first excavate a foundation trench of about 1.5 m deep, and then fill the hard material is stages of 30 cm.
        </br>
        </br>
        Option 2: Inject chemical solutions, like silicates of soda and calcium chloride with pressure into the soil. These chemical along with the soil particles form a gel like structure and develop a compact mass. This gives additional strength to soft soils at deeper depths.
        </br>
        </br>
        Option 3: Compact the soil by ramming or rolling, thus increasing its density and shear strength. As a result the bearing capacity of soil also increases.
        </br>
        </br>
        Option 4: Leave the soil as it is, and risk it. 
          </br>
        </br>
           <b>Money: {{money}}</b>
        </p> 
    </div>
  </div>
</section>
<section id="works" class="works section no-padding">
  <form action="/choice" method="POST">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="#0" class="work-box"> <img src="../static/image/scenario_3/work-1.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Replace The Poor Soil.</h5>
            <p>Price: 1.3 GD</p>
          </div>
        </div>
        <!-- overlay --> 
        </a><div class"selection">
         <input type="radio" name="soilReport" class="radio" id="check1" value = "replace"/>

       </div> 
         </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="#0" class="work-box">  <img src="../static/image/scenario_3/work-2.jpg" alt="">
      
        <div class="overlay">
              
          <div class="overlay-caption">
            <h5>Chemical Stabilization</h5>
            <p>Price: 4 GD</p>
          </div>
        </div>
        <!-- overlay --> 
        </a>  <div class"selection">
         <input type="radio" name="soilReport" class="radio" id="check2" value = "chemical"/>

       </div> 
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="#0" class="work-box"> <img src="../static/image/scenario_3/work-3.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Compact The Soil</h5>
            <p>Price: 0.5 GD</p>
          </div>
        </div>
        </a>
        <div class"selection">
 
         <input type="radio" name="soilReport" class="radio" id="check3" value = "compact"/>

       </div>  
      </div>
       <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="#0" class="work-box"> <img src="../static/image/scenario_3/work-4.jpg" alt="">
        <div class="overlay">
          <div class="overlay-caption">
            <h5>Do Nothing</h5>
            <p>Price: 0</p>
          </div>
        </div>
        </a>
        <div class"selection">
         <input type="radio" name="soilReport" class="radio" id="check4" value = "nothing"/>

       </div> 
      </div>
    </div>
  </div>
<div id="buttons">
        <input type="submit" class ="btn orange" value="Finalize">

    </div>
  </form>
</section>

<script src="../static/js/dash-jquery-2.1.4.js"></script>
<script src="../static/js/dash-mainnav.js"></script>

</body>
</html>