{% extends "theme.html" %}

{% block title %}Rules{% endblock %}

{% block font %}{% endblock %}

{% block extStyle %}
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="../favicon.ico"> 
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../static/css/rules-resetnav.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../static/css/rules-stylenav.css"> <!-- Resource style -->
	<link rel="stylesheet" href="../static/css/rules-style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/rules-jquery.jscrollpane.custom.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/rules-bookblock.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/rules-custom.css" />
{% endblock %}

{% block extJS %}
	<script src="../static/js/rules-modernizrnav.js"></script> <!-- For Nav-->
	<script src="../static/js/rules-modernizr.custom.79639.js"></script>
{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Welcome {{name}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<header>
	<nav class="cd-stretchy-nav">
		<a class="cd-nav-trigger" href="#0">
			
			<span aria-hidden="true"></span>
		</a>

		<ul>
			<li><a href="/dashboard" ><span>Home</span></a></li>
			<li><a href="/rules"><span>Rules</span></a></li>
			<li><a href="/login"><span>Logout</span></a></li>
			
		</ul>

		<span aria-hidden="true" class="stretchy-nav-bg"></span>
	</nav>
</header>
		<div id="container" class="container">	
			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
					<div class="bb-item" id="item1">
						<div class="content">
							<div class="scroller">
								<h2>Thanks For Playing</h2>
								<p>
									<b>Queen Danaerys thanks you for your services. Your watch has now ended. Over the course of this game you managed to accumulate {{points}} points. Well done!!<br>
									Results will be announced soon. Stay tuned.</b>
								</p>
							</div>
						</div>
					</div>
		
					
				</div>
				
			</div>
		</div><!-- /container -->
{% endblock %}

{% block end_extJS %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="../static/js/rules-jquery.mousewheel.js"></script>
	<script src="../static/js/rules-jquery.jscrollpane.min.js"></script>
	<script src="../static/js/rules-jquerypp.custom.js"></script>
	<script src="../static/js/rules-jquery.bookblock.js"></script>
	<script src="../static/js/rules-page.js"></script>
	<script>
		$(function() {

			Page.init();

		});
	</script>
	<script src="../static/js/rules-jquery-2.1.4.js"></script>
	<script src="../static/js/rules-mainnav.js"></script>
{% endblock %}